<html>
    <body>
        <form method="POST" action="getrepos">
            <input type="text" name = "org" placeholder="Enter the name of organization..."></br></br>
            <input type="number" name = "n" placeholder="Enter value of n..."></br></br>
            <input type="number" name = "m" placeholder="Enter value of m..."></br></br>
            <input type="submit" value="submit">
        </form>
    </body>
</html>