<html>
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    </head>
    <body>
        <center><table class="table table-hover col-8">
            <thead>
            <tr>
                <th>Respository</th>
                <th>Number Of Forks</th>
                <th>Top Contributors</th>
            </tr>
        </thead>
            <% ans.forEach((e) => {%>
                <tr>
                <td>
                    <%=e.repo%>                    
                </td>
                <td>
                    <%=e.forks%>                    
                </td>
                <td>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Contributor</th>
                            <th>Total Commits</th>
                        </tr>
                    </thead>
                        <%e.contri.forEach((ele) => {%>
                            <tr>
                                <td>
                                    <%=ele.name%>
                                </td>
                                <td>
                                    <%=ele.commits%>
                                </td>
                            </tr>
                        
                        <%})%>
                    </table>
                </td>
            </tr>
            <%})%>
        </table>
    </center>
    </body>
</html>